<!-- common-text-input.component.html -->
<div class="mb-1">
  <label class="block text-gray-700 text-sm font-bold mb-2">{{ labelText }}</label>
  <div class="flex items-center border rounded shadow appearance-none">
    <input [type]="type" [formControl]="control!" [id]="id" [placeholder]="placeholder"
      class="w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline">
  </div>
  @if (control?.invalid && (control?.dirty || control?.touched)) {
    <div class="text-red-500 text-xs italic">
      @if (control?.errors?.['required']) {
        <p>This field is required.</p>
      }
      @if (control?.errors?.['email']) {
        <p>Please enter a valid email.</p>
      }
      @if (control?.errors?.['minlength']) {
        <p>This field must be at least {{ control?.errors?.['minlength']?.['requiredLength'] }} characters.</p>
      }
      @if (control?.errors?.['pattern']) {
        <p>Please enter a valid value.</p>
      }
    </div>
  }
</div>
