RELOAD="True"
PORT="8000"
ENVIRONMENT="dev"
LOG_LEVEL="DEBUG"
DB_HOST="localhost"
DB_USER="rest_angular"
DB_PASSWORD="rest_angular"
DB_NAME="rest_angular"
REDIS_HOST="localhost"
KAFKA_BOOTSTRAP_SERVERS="localhost:9092"